*.py linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-language=Python
*.js linguist-language=Python
*.jsx linguist-language=Python